button:focus {outline:0;}
input:focus {outline:0;}
.cont-bolinhas{
	width: 100%;
	height: 25px;
	margin-top: -25px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1000;
	position: absolute;
}
.bolinha{
	display: inline-block;
	cursor: pointer;
	width: 11px;
	height: 11px;
	border-radius: 80px;
	background-color: #FFF;
	margin-right: 3px;
	/*float: left;*/
	margin-top: 6px;
}

hr{
	height: 1px;
	border: 0;
	background-color: #E7E7E7;	
}
.btn{
	width: 100%;
	cursor: pointer;
	border: 0;
	background-color: #EEE;
	padding: 10px 20px;
	border: 1px solid #A9A9A9;
}
.tabdiv{
	display: none;
}
.thumbnail{
	height: 70px;
}

.thumb-img{
	opacity: 1;
	transition: 1s;
}
.thumb-img:hover{
	opacity: 0.4;
}
.btn-comentario{
	cursor: pointer;
	border: 0;
	background-color: #EEE;
	padding: 10px 20px;
	border: 1px solid #A9A9A9;
}


.media-wrap{
	margin: 20px 0 20px;
	width: 100%;
}
.media-thumb{
	width: 60px;
	height: 60px;
	background-color: #EEE;
	float: left;
	margin-right: 10px;
}
.media-body{
	float: left;
}
.media-body p {
	font-size: 14px;
}

.alert{
	padding: 15px;
	border-radius: 3px;
	color: #FFF;
}
.alert-success{
	background-color: #2ecc71;
}
.alert-danger{
	background-color: #e74c3c;
}
.categorypanel .darken{
	height: 170px;
}


.wrap-form-contato{
	/*width: 500px;*/
	margin-top: 40px;
}
.wrap-form-contato label{
	font-family: BebasNeueRegular, Arial, Sans-Serif;
	color: #666;
	font-size: 18px;
	display: block;
	margin-bottom: 8px;
}
.wrap-form-contato input{
	height: 30px;
	margin-bottom: 20px;
}
.wrap-form-contato input, .wrap-form-contato textarea{
	width: 100%;
}
.wrap-form-contato textarea{
	font-family: arial;
	font-size: 13px;
	/*padding: 10px;*/
	height: 200px;
	resize: vertical;
}
.wrap-form-contato button{
	margin-top:  5px;
	cursor: pointer;
	border: 0;
	background-color: #EEE;
	padding: 10px 20px;
	border: 1px solid #A9A9A9;
}


span.paginator-number{
	font-weight: bold;
	color: #3498db;
	border: 1px solid #E7E7E7;
	padding: 2px 7px;
	border-radius: 2px;
}
span.paginator-number.current{
	background-color: #3498db;
	font-weight: bold;
	color: #FFF;
	border: 1px solid #2980b9;
	padding: 2px 7px;
	border-radius: 2px;
}
span.paginator-side{
	/*font-weight: bold;*/
	color: #3498db;
}

.icon-perfil {
	-moz-opacity: 0.60;
	-khtml-opacity: 0.60;
	opacity: 0.60;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	filter:alpha(opacity=60);

	transition-duration: 0.5s;
}
.icon-perfil:hover {
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=1);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=1);
	filter:alpha(opacity=1);
	
}